.App {
  max-width: 520px;
  margin: 20px auto;
  padding: 0 10px 5PX;
  text-align: center;
  border: 2px solid #ccc;
}

h1 {
  font-family: arial, sans-serif;
}

.messages {
  text-align: center;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

.messages td, .messages th {
  border: 1px solid #ddd;
  padding: 8px;
}

.messages tbody tr:nth-child(even){
  background-color: #f2f2f2;
}

.messages tbody tr:hover {
  background-color: #ddd;
}

.messages thead tr {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

.sort {
  margin-left: 8px;
}

.nav {
margin-top: -8px;
padding-right: 20px;
}

.page-numbers {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-numbers > li {
  margin-right: 1.2em;
  color: blue;
  user-select: none;
  cursor: pointer;
}
